@import url("https://fonts.googleapis.com/css2?family=Braah+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
}

// navbar links animation styles
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #2c3333;
  &:hover {
    color: #05bfdb;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #05bfdb;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.HomePageIllus {
  transform: translateY(-2%);
  animation: floater 5s infinite;
  transition: ease 0.2s;
}

@keyframes floater {
  0% {
    transform: translateY(-2%);
    transition: ease 0.2s;
  }
  50% {
    transform: translateY(2%);
    transition: ease 0.2s;
  }
}
